<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand" href="#">DATING APP</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
    aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item ">
        <a class="nav-link" href="#">Matches</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Lists</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="#">Messages</a>
      </li>
    </ul>

    <div *ngIf="loggedIn()" class="fluid-container flex-end">
      <div class="row">
        <div class="dropdown dropdown-main mr-3">
          <a class="dropdown-toggle text-light" href="#" role="button" id="dropdownMenuLink">
            Welcome User
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#"><i class="fa fa-user"></i> Edit Profile</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#"><i class="fa fa-sign-out"></i> Logout</a>
          </div>
        </div>
        <div>
          <button class="btn btn-outline-success my-2 my-sm-0 mr-3" type="button" (click)="logout()">
            Logout
          </button>
        </div>
      </div>
    </div>



    <!-- to use #loginForm="ngForm" you need to import FormsModule in app.module imports -->
    <form *ngIf="!loggedIn()" #loginForm="ngForm" class="form-inline my-2 my-lg-0" (ngSubmit)="login()">
      <input class="form-control mr-sm-2" type="text" name="username" placeholder="Username" required
        #username="ngModel" [(ngModel)]="model.username">
      <input class="form-control mr-sm-2" type="password" name="password" placeholder="Password" required
        [(ngModel)]="model.password" #password="ngModel">
      <button [disabled]="!loginForm.valid" class="btn btn-success my-2 my-sm-0" type="submit">
        Login</button>
    </form>
  </div>
</nav>

<!-- print form validation and other attrs -->
<!-- <pre>
  Form Valid: {{loginForm.valid}}
  Form Touched: {{loginForm.touched}}
  Form Dirty: {{loginForm.dirty}}
  Form Values: {{loginForm.value | json}}
  Username Valid: {{username.valid}}
  Username Touched: {{username.touched}}
  Username Dirty: {{username.dirty}}
  Username Value: {{username.value }}
  Password Valid: {{password.valid}}
  Password Touched: {{password.touched}}
  Password Dirty: {{password.dirty}}
  Password Value: {{password.value }}

</pre> -->